.category-item{
    margin:20px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color:#0F1113;
    cursor: pointer;
    height: 200px;
    width: auto;
}

.category-item .category-img{
    background-color: #FDFDFD;
    width: 124px;
    border-radius:15px;

    height: 124px;
    padding: 20px;
}

.category-item:hover{
    color:#FF4D4D;
}
