.slider-button {
    width: 50px;
    height: 30px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .slider-btn {
    width: 28px;
    height: 28px;
    background-color: #FF4D4D;
    border-radius: 40px;
    transition: transform 0.3s ease-in-out;
  }
  
.enabled.slider-button {
    background-color: #FF4D4D;
}

  .enabled .slider-btn {
    transform: translateX(22px);
    background-color: white;

  }
  
  .disabled .slider-btn {
    transform: translateX(0);
  }
  

  