.ico-btn{
    width: 52px;
    height: 52px;
    padding: 14px;
    border-radius: 8px;
    border: 0;
    background-color: #F2F5F9;
    cursor:pointer;
}
/* 24 px*/
.ico-btn img{
    width: 24px;
    height: 24px;
}
.small.ico-btn img{
    width: 20px;
    height: 20px;
}

.ico-btn.small {
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
}