header{
    display: flex;
    padding: 8px,10px;
    align-items: center;
    border-bottom:#F2F5F9 1px solid;
    justify-content: space-between;
}

.logo_info{
    display: flex;
    color: #263141 ;

}

.logo_info img{
    width: 186px;
    height: 60px;
    cursor: pointer;
}

.logo_info p {
    white-space: nowrap;
    color: #263141;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    max-width: 155px;
    max-height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:12px ;
    margin-right: 32px;
}

.dropdown-menu{
    display: flex;
    justify-content: center;
}

.dropdown-list{
    margin: 0 50px;
}

.dropdown-list h2{
    color: black;
    font-size: 34.619px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dropdown-list ul{

    list-style: none;
    border-radius: 12px;
    background: #F2F5F9;
    padding: 5px 6px;
    border:  1px #d2d4d6 solid;
}

.dropdown-list li{
    color: var(--grayscale-800, #263141);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    padding: 8px 40px;
    cursor: pointer;
    line-height: 20px; /* 142.857% */
    border-bottom:  1px #d2d4d6 solid;
}

.dropdown-list li:hover{
    color: #FF4D4D;
}

.dropdown-list li:last-child{
   
    border-bottom: 0;
}

.search{
    display: flex;
}

.ico-btns{
    display: flex;
}

.ico-btns-item{
    margin-left :20px;

}

/* @media screen and (max-width: 1330px) {
    .ico-btns{
        display: none;
    }
    .search .dropdown{
        display: none;
    }
    .search form{
        width: 100%;
        border-radius: 5px;
        width: 300px;
    }
    .search input{
        width: 100%;
    }

    header{
        display: flex;
        flex-direction: column;
    }
} */