.banner{
    background-color: #F2F5F9;
    padding:30px;
    min-height: 280px;
    height: auto;
    position: relative;
    display: flex;
    padding: 40px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

.banner h1{
    color:#0F1113;
    font-size: 40px;
    /* line-height: 72px; */
    font-weight: 800;
}

.banner span{
    color: #FF4D4D;
}

.normal{
    max-width: 819px;
    width: 100%;
}

.banner.small{
    max-width: 429px;
    width: 100%;
}

